<div class="col-md-6">
    <div class="page-header">
        <h2 class="task-list-title">Task List</h2>
    </div>

    <form>
        <div class="form-group row new-task">
            <div class="col-xs-11">
                <input #new_task class="form-control" placeholder="What have to be done ... " type="text" name="title" id="add-task">
            </div>
            <button class="no-btn add-task" (click)="addTask(new_task.value)"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
        </div>
    </form>

    <ul class="filter-tasks">
        <li>
            <a [routerLink]="['/tasks/all']" [class.selected]="filterStatus === 'all'">All</a>
        </li>
        <li>
            <a [routerLink]="['/tasks/active']" [class.selected]="filterStatus === 'active'">Active</a>
        </li>
        <li>
            <a [routerLink]="['/tasks/completed']" [class.selected]="filterStatus === 'completed'">Completed</a>
        </li>
    </ul>

    <h4 *ngIf="tasks.length == 0" [style.color]="'red'">No Tasks available </h4>
    <ul class="task-list"  *ngIf="tasks.length != 0">

        <li *ngFor="let task of tasks" class="task" [class.selectedTask]="task==selectedTask" [class.done]="task.done" [class.curr-task]="task ">
            <div class="view" id="{{task.id}}" >
                <input class="toggle-done" type="checkbox" [(ngModel)]="task.done">
                <label >{{task.title}}</label>

                <p *ngIf="task.date != null" class="task-date">maturing on {{task.date | date:'mediumDate'}}</p>

                <button *ngIf="!task.done" (click)="editTask(task)" class="no-btn edit-task"  ><i class="fa fa-pencil" aria-hidden="true"></i></button>
                <button class="no-btn delete-task" (click)="deleteTask(task.id)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
            </div>
        </li>
    </ul>
</div>

<div class="col-md-5 col-md-offset-1">

    <task-form [task]="selectedTask"></task-form>

</div>
