


<section class="tasks">
    <header class="header">

    </header>
    <section class="main">
        <ul class="task-list">
            <li>
                <h2>Task Detail</h2>
                <p>{{task.title}}</p>
            </li>
        </ul>
    </section>
    <footer class="footer">
        <span class="task-count"><strong> {{task.date}}</strong></span>
        <span>{{task.done ? 'Done' : 'Active'}}</span>

    </footer>
</section>
<!--<form (ngSubmit)="onSubmit()" #taskForm="ngForm">

    <div class="form-group col-md-6">
        <label for="title">Title :</label>
        <select id="title" class="form-control" [(ngModel)]="task.title">
            <option *ngFor="#type of types" [value]="type.typeEnum">{{type.text}}</option>
        </select>
    </div>

    <div class="form-group col-md-6">
        <label for="date">Date:</label>
        <input id="date" type="date" class="form-control" [(ngModel)]="task.date">
    </div>

    <div class="form-group col-md-6">
        <label for="description">Description : </label>
        <input id="description" type="text" class="form-control" [(ngModel)]="task.description">
    </div>

</form>-->